@charset "UTF-8";
@font-face {
    font-family: "d-din";
    src: url("/fonts/D-DINExp-Bold.otf");

    font-family: "inter";
    src: url("/fonts/inter.ttf");
}

body {
    user-select: none;
    overflow-x: hidden;
}

body header {
    padding: 0 20px;
    position: relative;
    display: flex;
    background-color: rgba(255, 255, 255, 0.5);
    vertical-align: center;
    text-align: center;
    height: 80px;
    backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    z-index: 4;
    position: fixed;
    width: 100%;
}

body header h2 {
    text-align: left;
    color: black;
    width: 100%;
    height: 100%;
    font-size: 28px;
    display: flex;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
    white-space: nowrap;
}

body header img {
    width: 60px;
    height: 60px;
    transform: scale(0.8);
    border-radius: 100%;
    box-shadow: 0px 0px 10px #353535;
    transition-duration: 0.2s;
    transition-property: all;
    user-select: none;
}

body header img:hover {
    transform: scale(0.95);
    cursor: pointer;
    user-select: none;
}

body header img:active {
    transform: scale(0.825);
    user-select: none;
}

.bg_dark img {
    z-index: 1;
    position: absolute;
    min-width: 1600px;
    min-height: 600px;
    max-height: 800px;
    width: 100%;
    filter: brightness(0.4);
    object-fit: cover;
    position: fixed;
}

.header_button {
    margin: auto 0px auto 0px;
    width: 120px;
    height: 100%;
    font-weight: bold;
    transition:all 0.2s ease;
    transition-delay: 0ms;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    user-select: none;
}

header ul {
    display: flex;
    list-style: none;
    margin-right: 20px;
    height: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
}

header ul li:hover {
    background-color: rgba(255,255,255,0.4);
    box-shadow: 0px 0px 10px #353535;
    border-radius: 5px;
    text-shadow: 10px;
    padding: auto;
}

header ul li:active {
    background-color: rgba(255,255,255,0.4);
    box-shadow: 0px 0px 3px #353535;
    border-radius: 5px;
    text-shadow: 10px;
    padding: auto;
}

.contact {
    border-radius: 20px;
    background-color: aquamarine;
    transition-duration: 0.4s;
    width: 150px;
    font-weight: bold;
    display: flex;
    align-items: center;
    margin: auto 0px auto 20px;
    height: 80%;
    justify-content: center;
    user-select: none;
}

.contact:hover {
    border-radius: 20px;
    background-color: rgb(98, 0, 255);
    color: white;
    width: 150px;
    cursor: pointer;
}

/* Title Animation */
.txt {
    display: flex;
    overflow: hidden;
}

.txt p {
    color: black;
    font-size: 28px;
    font-family: inter;
    font-weight: 600;
    letter-spacing: .06em;
    margin: 0;

    /* ここからアニメーション関係 */
    transform: translateY(2em);
    animation: textanimation 0.5s forwards;
}
/* 1文字目 */
.txt p:nth-child(1) {
    animation-delay: 0.05s
}
/* 2文字目 */
.txt p:nth-child(2) {
    animation-delay: 0.1s
}
/* 3文字目 */
.txt p:nth-child(3) {
    animation-delay: 0.15s
}
/* 4文字目 */
.txt p:nth-child(4) {
    animation-delay: 0.2s
}
/* 5文字目 */
.txt p:nth-child(5) {
    animation-delay: 0.25s
}
/* 6文字目 */
.txt p:nth-child(6) {
    animation-delay: 0.3s
}
/* 7文字目 */
.txt p:nth-child(7) {
    animation-delay: 0.35s
}
/* 8文字目 */
.txt p:nth-child(8) {
    animation-delay: 0.4s
}
/* 9文字目 */
.txt p:nth-child(9) {
    animation-delay: 0.45s
}
/* 10文字目 */
.txt p:nth-child(10) {
    animation-delay: 0.5s
}
/* 11文字目 */
.txt p:nth-child(11) {
    animation-delay: 0.55s
}
/* 12文字目 */
.txt p:nth-child(12) {
    animation-delay: 0.6s
}
/* 13文字目 */
.txt p:nth-child(13) {
    animation-delay: 0.65s
}
/* 14文字目 */
.txt p:nth-child(14) {
    animation-delay: 0.7s
}
/* 15文字目 */
.txt p:nth-child(15) {
    animation-delay: 0.75s
}
/* 16文字目 */
.txt p:nth-child(16) {
    animation-delay: 0.8s
}
/* 17文字目 */
.txt p:nth-child(17) {
    animation-delay: 0.85s
}
/* 18文字目 */
.txt p:nth-child(18) {
    animation-delay: 0.9s
}
/* 19文字目 */
.txt p:nth-child(19) {
    animation-delay: 0.95s
}


@keyframes textanimation {
    0% {
        transform: translateY(-2em);
    }

    100% {
        transform: translateY(0);
    }
}


.top_title {
    z-index: 3;
    color: white;
    position: absolute;
    top: 30%;
    font-weight: 800;
    font-size: 100px;
    text-align: left;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.486);
    font-family: inter;
    margin-left: 10%;
    overflow: hidden;
    transform: translateY(0.4em);
    animation: top_title_animation 1s forwards;
    white-space: nowrap;

    transition-duration: 0.2s;
}

.top_title .top_title_anim_1 {
    animation-delay: 0.1s;
}
.top_title .top_title_anim_2 {
    animation-delay: 0.2s;
}

@keyframes top_title_animation {
    0% {
        transform: translateY(0.4em);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}


.top_title:hover {
    transform: scale(1.05);
}
